# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
*.iml
.idea/
!.idea/.gitignore

# Android
/local.properties
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_

# OS
.DS_Store
Thumbs.db

# Claude
.claude/

# Keystore
*.jks
*.keystore

# Web Admin
web-admin/node_modules/
web-admin/.npm-cache/
web-admin/data/
web-admin/uploads/faces/*
!web-admin/uploads/faces/.gitkeep
*.onnx.data
yolo_training/yolov5-7.0/
package-lock.json
face_recognition/models/face_embed.onnx
icar_face/models/face_embed.onnx
